/*body*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/*header section*/
.header {
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 500px;
    background: #1f2937;
    color: #f9faf8;
    font-size: 24px;
}

#web-header{
    padding-left: "0px";
}
#links {
    color: #e5e7eb;
    font-size: 18px;
    padding: 20px;
}

/*section 1*/



/*section 2*/
.image-set {
    display: flex;
    flex-direction: row;

}

.images {
    width: 150px;
    height: 150px;
    background-color: #;
    border-radius: 20px;
    border: solid 5px #3882f6;
}

/*section 3*/




/*section 4*/




/*footer*/