/* BODY */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; 
    padding: 0;
}

/* HEADER */
.header-section {
    background-color: #1f2937;
    max-height: 500px;
}

.s1-wrapper {
    padding: 20px;
}

.nav-section {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-size: 30px;
    font-weight: bolder;
    color: #f9faf8;
}

#links {
    font-size: 18px;
    color: #e5e7eb;
    margin: 20px;
}

/* SECTION 1 */
.s1-leftside {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 30px;
}

.hero {
    font-size: 48px;
    color: #f9faf8;
    margin: auto;
}

.hero-secondary {
    text-align: center;
    font-size: 24px;
    color: #e5e7eb;
    margin: auto;

}

.sign-up {
    width: 170px;
    height: 60px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    background-color: #3882f6;
    border-color: #f9faf8;
    color: #f9faf8;
}

.sign-up:hover {
    background-color: #3370d3;
    border-color: #fff;
    color: #f9faf8;
}


.s1-rightside {
    width: 800px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7a7a7a;
    border-radius: 6px;
    font-size: 24px;
    color: #f9faf8;
}

.section-1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
    padding: 80px;
}

/* SECTION 2 */
.section-2 {
    height: 368px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s2-title {
    margin: 30px;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    color: #1f2937;
}

.image-set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
    text-align: center;

}

.images {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 20px;
    border: solid 5px #3882f6;

}

.set {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    padding: 10px;
    font-size: 20px;
}

/* SECTION 3 */
.section-3 {
    height: 368px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
}

.s3-wrapper {
    width: 50%;
}

.quote {
    font-size: 36px;
    color: #1f2937;
}

.author {
    font-size: 20px;
    color: #3882f6;
    text-align: right;
}

/* SECTION 4 */
.section-4 {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #e5e7eb;
}

.s4-wrapper {
    width: 40%;
    background-color: #3882f6;
    border-radius: 6px;
    padding: 10px;

}

.s4-leftside {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}

h3 {
    margin: 0;
    font-size: 26px;
}

.s4-text {
    padding: 0px;
}

.sign-up2 {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #3882f6;
    margin: 20px;
    background-color: #e3e3e3;
    border-color: #1f2937;
    border:solid 3px;
}

.sign-up2:hover {
    background-color: #3370d3;
    color: #fff;
}

/* FOOTER */
footer {
    background-color: #1f2937;
    height: 75px;
    text-align: center;
    color: #E5E7EB;
    margin: auto;
    padding: 5px;
}


a {
    color: #3882f6;
    text-decoration: underline;
}